<!-- checkout.component.html -->
<div class="container">
    <h2>Checkout</h2>
    <button mat-raised-button color="primary" class="buy-now-button" (click)="checkout()"><mat-icon>shopping_cart</mat-icon>
        Buy Now</button>

    <div class="medicine-list">
      <div *ngFor="let medicine of selectedMedicines" class="medicine-item">
        <div class="medicine-details">
          <div class="medicine-name">{{ medicine?.medicine_name }}</div>
          <div class="medicine-price">Content: {{ medicine?.content }}</div>
          <div class="medicine-quantity">Price: {{ medicine?.mrp }} Rs.</div>
        </div>
        <div class="medicine-details">
          <div class="medicine-name">Patient Name: {{ patientDetails[0]?.firstname }} {{ patientDetails[0]?.lastname }}</div>
          <div class="medicine-price">Patient Id: {{ patientDetails[0]?.patient_id }}</div>

        </div>
      </div>
      
    </div>

  </div>
  