<div class="container mt-5 pt-5">
  <mat-toolbar color="primary">
    <span>Dashboard</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/add-patient">Add Patient</a>
  </mat-toolbar>

  <div class="dashboard-content">
    <mat-card>
      <div class="row mb-3">
      <mat-card-title class="search-title ml-3 col-8">Search Medicines</mat-card-title>
    </div>

      <mat-card-content>
        <div class="patient-select-field mt-5">
          <div class="patient-select-field mt-5">
            <mat-form-field appearance="outline" class="col-8 search-field">
              <input matInput placeholder="Enter Patient ID" [(ngModel)]="patientId" name="patientId">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="getPatientDetails()">Get Details</button>
          </div>
          <div *ngIf="patientDetails">
            <p>{{ patientDetails[0].firstname }} {{ patientDetails[0].lastname }}</p>
          </div>

        <mat-form-field class="search-field col-8" appearance="outline">

          <input matInput class="custom-input" placeholder="Search Medicines" #searchInput>
        </mat-form-field>
        <button class="col-2" mat-raised-button color="primary" (click)="onSearch(searchInput.value)">Search</button>
        </div>


        <mat-list *ngIf="medicines.length">
          <mat-list-item *ngFor="let medicine of medicines" class="medicine-list-item">
            <span class="medicine-info">{{ medicine.medicine_name }} - {{ medicine.content }} - {{ medicine.price }}Rs.</span>
            <button mat-raised-button color="accent" class="cart-btn" (click)="addToCart(medicine)">Add to Cart</button>
          </mat-list-item>
        </mat-list>
        <p class="mt-5" *ngIf="!medicines.length">No medicines found.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
