<div class="container mt-5 pt-5">
  <mat-toolbar color="primary">
    <span>Dashboard</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/add-patient">Add Patient</a>
    <a mat-button routerLink="/checkout">Checkout</a>
  </mat-toolbar>

  <div class="dashboard-content">
    <mat-card>
      <div class="row mb-3">
      <mat-card-title class="search-title ml-3 col-8">Search Medicines</mat-card-title>
    </div>

      <mat-card-content>
        <mat-form-field class="search-field" appearance="outline">
          <mat-label class="custom-label">Search Medicines</mat-label>

          <input matInput class="custom-input" #searchInput>
        </mat-form-field>
        <button class="col-2" mat-raised-button color="primary" (click)="onSearch(searchInput.value)">Search</button>


        <mat-list *ngIf="medicines.length">
          <mat-list-item *ngFor="let medicine of medicines" class="medicine-list-item">
            <span class="medicine-info">{{ medicine.medicine_name }} - {{ medicine.content }} - {{ medicine.price }}Rs.</span>
            <button mat-raised-button color="accent" class="cart-btn" (click)="addToCart(medicine)">Add to Cart</button>
          </mat-list-item>
        </mat-list>
        <p class="mt-5" *ngIf="!medicines.length">No medicines found.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
